<h1><%= @user.username %>'s Reaches</h1>

<% if @user.reaches.empty? %>
<h3><em> Look's like you don't have any Reaches yet! </em> </h3>
<% end %>
<ul>
  <% @user.reaches.each do |reach| %>
  <li><a href="/reaches/<%= reach.id %>"><%= reach.label %></a></li>
  <% end %>
</ul>

<a href='/reaches/new'>Create Reach</a>
