<div class="container">
  <center>
  <h1><%= @user.name %>'s Reaches</h1>

<% if @user.reaches.empty? %>
<h3><em> Look's like you don't have any Reaches yet! </em> </h3>
<% end %>
<div class="list-group">
  <% @user.reaches.each do |reach| %>
  <a href="/reaches/<%= reach.id %>" class="list-group-item"><%= reach.label %></a>
  <% end %>
</div>

<a href='/reaches/new' class="btn btn-info">Create Reach</a>
</center>
</div>
