<h1><center><%= @user.name %>'s Reaches</center></h1>

<% if @user.reaches.empty? %>
<h3><em> Look's like you don't have any Reaches yet! </em> </h3>
<% end %>
<div class="list-group">
  <% @user.reaches.each do |reach| %>
  <a href="/reaches/<%= reach.id %>" class="list-group-item"><%= reach.label %></a>
  <% end %>
</div>

<a href='/reaches/new'>Create Reach</a>
