<h1> Make a Reach </h1>

<% if @error %>
  <%= @error %>
<% end %>

<form action='/reaches/new' method="POST">
  Name of contact:<input type="text" name="contact_name" placeholder="Contact Name"><br>
  Phone:<input type="text" name="contact_phone" placeholder="Contact Phone"><br>
  Text: <br>
  <textarea name="text" placeholder="Write your text message here" rows="5"></textarea><br>
  Label: <input type="text" name="label" placeholder="Reach description"><br>
  <input type="checkbox" name="main_reach">Set as main Reach <br>
  <input type="submit" value="Create">
</form>
