<h1> Create an account </h1>
<% if @error %>
<%= @error %>
<% end %>

<form action='/users/new' method="POST">
  Username: <input type="text" placeholder="username" name="username"><br>
  Email: <input type="text" placeholder="email" name="email"><br>
  Password: <input type="password" placeholder="password" name="password1"><br>
  Confirm password: <input type="password" placeholder="confirm password" name="password2"><br>
  <input type="submit" name="register">
</form>
