<div class=container>
<h1 class="page-header"> Create an account </h1>
<% if @error %>
<%= @error %>
<% end %>

<form action='/users/new' method="POST">
  <label>Name:</label> <input type="text" placeholder="name" name="user[name]"><br>
  <label>Email:</label> <input type="text" placeholder="email" name="user[email]"><br>
  <label>Phone:</label> <input type="text" placeholder="+12345678901" name="user[phone]"><br>
  <label>Password:</label> <input type="password" placeholder="password" name="password1"><br>
  <label>Confirm password:</label><input type="password" placeholder="confirm password" name="user[password]"><br><br>
  <input type="submit" name="register" value="Register" class="btn btn-danger">
</form>
</div>
