
<h1>REACH </h1>
<br>
<%= @user.username %>
<br>

<center><input id="round" type="submit" value="REACH"></center>
<br>
<a href='/reaches/all'>My Reaches</a>
<br>
<a href='/reaches/new'>Create New</a>
