<div class=container>
  <center>
    <%= flash[:notice] %><br><br>
    <a href='/send_sms'><img src="images/reach_button.png">
  </a>

  <br>
  <a href='/reaches/all'>My Reaches</a> |
  <a href='/reaches/new'>Create New</a>
  </center>
</div>
