
<h1>REACH </h1>
<br>
<%= @user.username %>
<br>

<center>
  <form action="/send_sms" method="POST">
    <input id="round" type="submit" value="REACH">
  </form>
</center>
<br>
<a href='/reaches/all'>My Reaches</a>
<br>
<a href='/reaches/new'>Create New</a>
