

<h1> Reach out with a simple click. </h1>
<!--
<form method="get" action="/users/new">
    <button type="submit">Register</button>
</form>

<form method="POST" action="/sessions/new">
    <button type="submit">Login</button>
</form> -->
