<div class="container">
  <center>

    <div>
    <a href='/<% if current_user %>dashboard<% else %>users/new<% end %>'>
      <img id="reach_button" src="http://i.imgur.com/pPUCMuN.png">
    </a></div>

    <div><h3><p>Preset SMS messages to send to your support network.</p><br>

    <p>When its time to reach out, simply open and <br>R E A C H.</p></h3>
    </div>
  </center>
</div>

<!-- We all have times when we need to reach out. <br><br> -->
<!--
<form method="get" action="/users/new">
    <button type="submit">Register</button>
</form>

<form method="POST" action="/sessions/new">
    <button type="submit">Login</button>
</form> -->
